* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
}

a {
    text-decoration: none;
}

i {
    opacity: 0.7;
}

i:hover {
    opacity: 1;
    cursor: pointer;
}

.create-btn , .delete-btn , .edit-btn {
    border: none;
}

/* Navbar */

/* Search Bar */
#search-bar{
    border-radius: 2rem;
    border-top-left-radius: 0;
    border-end-start-radius: 0;
    border: none;
}

/* Search Icon */
#search-icon {
    background-color: #fff;
    border-radius: 2rem;
    border-top-right-radius: 0;
    border-end-end-radius: 0;
    border: none;
}

/* Home Page */

/* Post Container */

.post {
    margin: 2rem;
    padding: 1rem;
}
.all-post {
    height: 200px;
    width: 90%;
}

.post h4 {
    font-size: 3rem;
}

.top-slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.top-most {
    width: 70%;
}

.post-continer {
    margin-bottom: 7rem;
}

.top-slide img {
    height: fit-content;
    width: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.container hr {
    height: 1px;
    opacity: 0.1;
    margin-top: 2rem;
    margin-bottom: 2ren;
}

.bottom-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-slide p {
    margin: 1rem;
}

/* Show Page */

/* For -> Post */
.single-post {
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
}

.single-post h4 {
    font-size: 3rem;
}


.single-post img {
    object-fit: cover;
    width: 80%;
    height: auto;
    border-radius: 3px;
    margin: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}

.post-options p {
    margin: 1rem;
}

.post-content {
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
}

/* For -> Reviews */

.reviews {
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
}

.review-form h1 {
    padding: 1rem;
    margin-left: 30%;
    margin-right: 30%;
}

.review {
    margin-top: 2rem;
}
.post-options .before-currUser {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.review-form .before-currUser {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.post-options .not-author {
    width: 15%;
}

/* Edit Page */

#edit-image {
    height: 250px !important;
    width: auto;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}