    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="/images/postly-name-logo.png" height="40">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <span id="search-icon" class="input-group-text search-logo bg-light"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input id="search-bar" class="form-control me-2 shadow-none bg-light" type="search" placeholder="Search"/>
      </form>


    <div class="navbar-nav ms-auto">
      <form action="/newPost" method="GET">
        <button class="create-btn btn no-outline mr-1">
          <div class="nav-link">
            <span class="mr-1"><i class="fa-solid fa-pen-to-square fs-5"></i></span>
            <span class="ml-3">Write</span>
        </button>
          <% if (!currUser) { %>
            <span class="m-4"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Unknown</span>
          <% } %>
          <%  if (currUser){ %>
            <span class="m-4"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%= currUser.username %></span>
          <% } %>
          </div>
        
      </form>
      <% if (!currUser) { %>
        <a href="/signup" class="nav-link"><button class="btn btn-outline-primary m-2">Sign up</button></a>
        <a href="/login" class="nav-link"><button class="btn btn-outline-success m-2">Login</button></a>
      <% } %> <% if (currUser) { %> 
        <a href="/logout" class="nav-link"><button class="btn btn-outline-danger m-2">Logout</button></a>
      <% } %>

    </div>
    </div>
  </div>
</nav>