    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
            <a class="navbar-brand m-1 p-2" href="/home">
                <img src="/images/Medium-Wordmark-Black.png" height="28">
            </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <span class="input-group-text search-logo bg-light"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input id="search-bar" class="form-control me-2 shadow-none bg-light" type="search" placeholder="Search"/>
      </form>

    <div class="d-flex align-items-center gap-4 ms-auto nav-icons">
      <form action="/newPost" method="GET">
        <button class="create-btn">
          <span><i class="fa-solid fa-pen-to-square fs-5"></i>&nbsp;&nbsp;<span id="write-post">Write</span></span>
        </button>
      </form>
      
      <span><i class="fa-solid fa-bell fs-5"></i></span>
      <span><i class="fa-solid fa-user"></i></span>
    </div>
    </div>
  </div>
</nav>