<% layout("layout/boilerplate") %>


<div class="single-post mb-3">
    <form action="/newPost" method="POST" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Add Title</label>
            <input name="title" id="title" class="form-control"  placeholder="Enter Title" required>
        </div>

        <div class="mb-3">
            <label for="subtitle" class="form-label">Add Subtitle</label>
            <input name="subtitle" id="subtitle" class="form-control" placeholder="Enter Sub-Title for your story" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="image">Upload Image</label>
            <input class="form-control" name="image" type="file" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Add Story</label>
            <textarea rows="15" name="content" id="content" class="form-control"  placeholder="Tell your story..." required></textarea>
        </div>

        <div class="mb-3 offset-5">
            <button class="btn btn-success">Publish</button>
        </div>
        
    </form>
</div>
